<h3>Reset Password</h3>

{{ form_start(form, {'attr': {novalidate: 'novalidate'}}) }}

{{ form_errors(form) }}
{{ form_row(form.password.first) }}
{{ form_row(form.password.second) }}

<input type="submit" value="Reset"/>

{{ form_rest(form) }}
{{ form_end(form) }}
