{% extends 'base.html.twig' %}

{% block title %}Set Your Password{% endblock %}
{% block bodyClass %}page-forgot{% endblock %}

{% block body %}
    <div class="uk-flex uk-flex-center uk-height-viewport">
        <div class="uk-width-1-1">
            <div class="uk-container uk-flex-1 uk-padding">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-width-xlarge@m">

                    {{ form_start(form, {'attr': {novalidate: 'novalidate', class: 'js-forgot-password-form'}}) }}

                    {% if form_errors(form) %}
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <div>{{ form_errors(form) }}</div>
                        </div>
                    {% endif %}

                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <h4>Set Password</h4>
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.password.first, 'Password*') }}
                            {{ form_widget(form.password.first, {'attr': {'class': 'uk-input' ~ ( form_errors(form.password.first) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.password.first) }}
                        </div>
                        <div class="uk-margin">
                            {{ form_label(form.password.second, 'Confirm Password*') }}
                            {{ form_widget(form.password.second, {'attr': {'class': 'uk-input' ~ ( form_errors(form.password.second) ? ' uk-form-danger' : '' ) }}) }}
                            {{ form_errors(form.password.second) }}
                        </div>
                    </fieldset>

                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-button-small">Submit</button>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
